<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yanggy.springboot.mapper.OrderMapper">
    <resultMap id="orderMap" type="com.yanggy.springboot.dto.out.OderDto">
        <result column="id" property="orderId" jdbcType="BIGINT"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="price" property="price" jdbcType="INTEGER"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="add_time" property="addTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="order_column">
        id,user_id, price, address
    </sql>

    <insert id="addOrder" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO order(user_id, price, address) VALUES(#{userId}, #{price},#{address})
    </insert>

    <select id="getOrderInfo" parameterType="com.yanggy.springboot.dto.in.OrderParam" resultType="java.util.Map">
        SELECT o.id,user_id as userId, price, address from order o
        <where>
            o.id = #{orderId}
        </where>
    </select>

    <select id="getOrdersByUserId" parameterType="com.yanggy.springboot.dto.in.OrderParam" resultMap="orderMap">
        select id,user_id, price, address from order
        <where>
            1 = 1
            <if test="userId != null">
                and user_id = #{userId}
            </if>
        </where>
        <if test="offset > -1 and pageSize > 0">
            limit #{offset}, #{pageSize}
        </if>
    </select>

    <select id="getOrders" parameterType="com.yanggy.springboot.dto.in.OrderParam" resultMap="orderMap">
        select id,user_id, price, address from order
        <where>
             delete_flag = 0
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="timeBegin != null">
                and add_time &gt;= #{timeBegin}
            </if>
            <if test="timeEnd != null">
                and add_time &lt; #{timeEnd}
            </if>
            <if test="lastId != null">
                and id &lt; #{lastId}
            </if>
        </where>

        order by id desc
        limit #{pageSize}

    </select>

    <select id="getOrdersByLimit" parameterType="com.yanggy.springboot.dto.in.OrderParam" resultMap="orderMap">
        select o.id,user_id as userId, price, address, u.name, u.password from order o LEFT JOIN user u on o.user_id = u.id
        <where>
            <if test="orderId != null">
                o.id = #{orderId}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>

            <if test="timeBegin != null">
                and add_time &gt;= #{timeBegin}
            </if>
            <if test="timeEnd != null">
                and add_time &lt; #{timeEnd}
            </if>
        </where>

        order by o.id desc
        limit #{offset}, #{pageSize}

    </select>

    <select id="countOrders" parameterType="com.yanggy.springboot.dto.in.OrderParam" resultType="java.lang.Integer">
        select COUNT(id) from ORDER
        <where>
            delete_flag = 0
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="timeBegin != null">
                and add_time &gt;= #{timeBegin}
            </if>
            <if test="timeEnd != null">
                and add_time &lt; #{timeEnd}
            </if>
            <if test="lastId != null">
                and id &lt; #{lastId}
            </if>
        </where>
    </select>
</mapper>