<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yanggy.springboot.mapper.UserMapper">
    <resultMap id="userMap" type="com.yanggy.springboot.entity.User">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="INTEGER"/>
        <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER"/>
        <result column="add_time" property="addTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="userColumns">
        id, name,age, password, add_time, delete_flag, update_time
    </sql>
    <insert id="insertUser" keyProperty="id" useGeneratedKeys="true" parameterType="com.yanggy.springboot.entity.User">
        INSERT INTO user(name, age,password) VALUES(#{name}, #{age}, #{password})
    </insert>

    <select id="getUserList" parameterType="com.yanggy.springboot.dto.UserParam" resultMap="userMap">
        select <include refid="userColumns"/> from user
        order by add_time desc
        <if test="offset > -1 and pageSize > 0">
            limit #{offset}, #{pageSize}
        </if>
    </select>
</mapper>